#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input[type="text"]{
  background-color: aqua;
  height: 35px;
  width: 300px;
  border: 2px solid blueviolet;
  font-size: 20px;
  border-radius: 40px;
  text-align: center;
}

::placeholder{
  color: blueviolet;
}

button{
  background-color: aqua;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin-left: 30px;
  border: 2px solid blueviolet;
  color: blueviolet;
}
.w{
  /* max-height: 300px; */
  height: fit-content;
  width: 450px;
  background-color: aqua;
  color: blueviolet;
  font-size: 20px;
  border: 2px solid blueviolet;
  margin-top: 30px !important;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.loc, .temp, .d, .clouds, .wind{
  /* display: flex; */
  margin: 0px;
  padding: 0;
}
